version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: lecture_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: lecture_app
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb+srv://a1byn:20052018@cluster0.5gexz.mongodb.net/leccture8?appName=Cluster0
    ports:
      - "3000:3000"

volumes:
  mongo_data:
